<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GMC - INICIO</title>
    <link rel="icon" href="/img/logo.png" type="image/png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="inicio.css">
    <style>
    </style>
</head>
<body>
    <div class="container">
        <div class="box ventas">
            <a href="/servicios">
                <i class="bi bi-cart icon"></i>
                VENTAS
            </a>
        </div>
        <div class="box clientes">
            <a href="/clientes/lista">
                <i class="bi bi-car-front icon"></i>
                CLIENTES
            </a>
        </div>
        <div class="box productos">
            <a href="/inventario/lista">
                <i class="bi bi-box-seam icon"></i>
                INVENTARIO
            </a>
        </div>
        <div class="box colaborador">
            <a href="/colaboradores/lista">
                <i class="bi bi-person icon"></i>
                COLABORADOR
            </a>
        </div>
        <div class="box cuadre">
            <a href="/caja/cuadre">
                <i class="bi bi-currency-dollar icon"></i>
                CUADRE DE CAJA
            </a>
        </div>
        <div class="box logo">
            <img src="/img/logo.png" alt="Logo">
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>






